 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}


.Explore-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}


.Explore-products-list-items {
  flex: 1 1 250px;   /* ✅ items shrink/grow, min width 250px */
  max-width: 300px;
}
